<h1 class="title">Available Products</h1>

<div class="products-list">
  <%= render partial: "product", collection: @products, as: :product %>
</div>

<% if @products.total_pages > 1  %>
  <%= render "layouts/pagination_navbar", records: @products %>
<% end %>
