<h1 class="title">Available Products</h1>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-item">
      <%= render "product", product: product %>
    </div>
  <% end %>
</div>
