/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fontawesome/css/all.min.css
 *= require bulma/bulma.min
 *= require_tree .
 */

.navbar-item{
    /* Default global value */
    --bulma-navbar-item-img-max-height: 4rem;
    padding: 0 .75rem !important;
}

.navbar-item-active{
    background-color: hsla(221deg, 14%,calc(21% + -5%), 1) !important;
}

.box-container {
    display: flex;
    justify-content: center;

    .box-xl {
        max-width: 500px;
    }
}
